@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';

aside {
  position: fixed;
  padding-top: 45px;
  width: 70px;
  min-height: 100vh;
  background-color: white;
  .icons {
    @include flex-align-center;
    flex-direction: column;
    gap: 20px;
    mat-icon {
      cursor: pointer;
    }
    mat-icon:first-child {
      @include icon-with-background;
    }
  }
}
