@import '../styles/variables.scss';

@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
}

@mixin icon-with-background {
  padding: 5px;
  background-color: $color-blue;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
